body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #25518b;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(55, 73, 131);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 75%;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #2a80f0;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.current-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.current-temperature strong {
  color: rgb(15, 24, 150);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.current-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.forecast-temperature {
  padding: 20px;
  text-align: center;
}

.forecast-temperature img {
  height: 50px;
  width: 50px;
}

.forecast-temp-low {
  color: rgb(15, 24, 150);
}

.forecast-description:first-letter {
  text-transform: capitalize;
}